<!DOCTYPE html>
<html ng-app="app">
<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta charset="ISO-8859-1">
    <title>Stock Exchange</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-controller="StockCtrl">
<div data-ng-init="onloadFun()">
    <h3>Add Stock</h3>
    <div>
        <table id="addStockTable">
            <tr>
                <th>Name</th>
                <th>Current Price</th>
                <th></th>
            </tr>
            <tr>
                <td><input type="text" ng-model="stockToBeAdded.name"/></td>
                <td><input type="text" ng-model="stockToBeAdded.currentPrice"/></td>
                <td>
                    <button type="submit" ng-click="addStock(stockToBeAdded)">Add Stock</button>
                </td>
            </tr>
            <br/>
            <tr style="color: red" ng-if="!stockToBeAdded.name && stateChanged">
                <td align="center" colspan="3">Name can not be empty</td>
            </tr>
            <tr style="color: red" ng-if="!stockToBeAdded.currentPrice && stateChanged">
                <td align="center" colspan="3">Current price can not be empty</td>
            </tr>

            <tr style="color: red" ng-if="addStockError">
                <td align="center" colspan="3">{{addStockError}}</td>
            </tr>
            <tr style="color: green" ng-if="addStockSuccess">
                <td align="center" colspan="3">{{addStockSuccess}}</td>
            </tr>
        </table>

        <br/> <br/>
    </div>

    <h3>Search Stock</h3>
    <div>

        <input type="number" id="stockId" ng-model="id" required/>
        <button type="submit" ng-click="getStock(id)">Search</button>

        <br/>
        <div style="color: red" ng-if="idEmpty">
            <span align="center" colspan="3">Stock id can not be empty</span>
        </div>
        <div style="color: red" ng-if="message && id">
            <span align="center" colspan="3">{{message}}</span>
        </div>
        <br/>
        <table id="searchStockTable" ng-if="shouldShowSearchTable">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Current Price</th>
                <th>Last Updated</th>
                <th></th>
            </tr>
            <tr>
                <td><input type="text" ng-model="stock.id" disabled/></td>
                <td><input type="text" ng-model="stock.name" disabled/></td>
                <td><input type="text" ng-model="stock.currentPrice" disabled/></td>
                <td><input type="text" ng-model="stock.lastUpdate" disabled/></td>
            </tr>
        </table>
        <br/><br/>
    </div>

    <h3>Stock List</h3>
    <div>
        <div>
            <table id="updateStockTable">
                <tr style="color: red" ng-if="updateStockError">
                    <td align="center" colspan="5">{{updateStockError}}</td>
                </tr>
                <tr style="color: green" ng-if="updateStockSuccess">
                    <td align="center" colspan="5">{{updateStockSuccess}}</td>
                </tr>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Current Price</th>
                    <th>Last Updated</th>
                    <th></th>
                </tr>
                <tr ng-repeat="stock in stocks">
                    <td align="center"><input type="text" id="id" ng-model="stock.id" disabled/></td>
                    <td align="center"><input type="text" id="name" ng-model="stock.name"/></td>
                    <td align="center"><input type="text" id="currentPrice" ng-model="stock.currentPrice"/></td>
                    <td align="center"><input type="text" id="lastUpdate" ng-model="stock.lastUpdate" disabled/></td>
                    <td>
                        <button type="submit" ng-click="updateStock(stock)">Update</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>