a {
    cursor: pointer;
    background-color: lightblue;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

/*#addStockTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}*/

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

/*#addStockTable tr:nth-child(even) {
    background-color: #f2f2f2;
}*/

/*#addStockTable tr:hover {
    background-color: #ddd;
}*/

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: centre;
    background-color: #514cafd9;
    color: white;
}

/*
#addStockTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: centre;
    background-color: #514cafd9;
    color: white;
}*/
